<!DOCTYPE html>
<html lang="en" dir="ltr" data-theme="dark">

<head>
  <!-- Meta Data -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="color-scheme" content="light dark">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"
    defer></script>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="styles/master.css">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700&family=Work+Sans:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">

  <!-- Fontawesome -->
  <script src="https://kit.fontawesome.com/180bb0a7e4.js" crossorigin="anonymous"></script>

  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.ico">

  <title>Class B | Home</title>
</head>

<body>
  <!-- Template for Navbar -->
  <template id="nav-template">
    <!-- TODO: Test the behavior of navbar if container fluid is in nav element instead of a nested div element  -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top container-fluid" id="nav-scroll">
      <!-- Navbar Logo -->
      <div class="brand-img me-3" v-if="width > 972">
        <img class="brand-logo" src="images/brand-logo.svg" alt="Brand">
      </div>

      <!-- Navbar Name -->
      <a class="navbar-brand brand-name fs-1" href="index.html">Memengineers</a>

      <!-- This Toggler only appears for small screens -->
      <a class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <div class="brand-img me-3" v-if="972 > width">
          <img class="brand-logo" src="images/brand-logo.svg" alt="Brand">
        </div>
      </a>

      <!-- Navbar Page links -->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link fs-3 me-2 active" @click="setFocusHome"
            href="javascript:void(0);">Home</a>
          <a class="nav-link fs-3 me-2" @click="setFocusTools"
            href="javascript:void(0);">Tools</a>
          <a class="nav-link fs-3 me-2" @click="setFocusTimeline"
            href="javascript:void(0);">Timeline</a>
        </div>

        <!-- Add a toggler for dark mode using checkbox and Icon from Font Awesome -->
        <i class="fas fa-2x toggle-icon"></i>
      </div>

    </nav>
  </template>

  <!-- Template for Modal -->
  <template id="modal-template">
    <div class="modal fade" id="modal-id" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-title">Change the contents of Carousel {{ carouselIndex }} </h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Form to update the Title, Content and Image of Carousel -->
            <form>
              <div class="form-group">
                <label for="carousel-title">Title</label>
                <input type="text" class="form-control my-2" id="carousel-title" v-model="carousel.title">

                <label for="carousel-content">Content</label>
                <textarea class="form-control my-2" id="carousel-content" v-model="carousel.content"></textarea>

                <label for="carousel-image">Image</label>
                <img :src="carousel.image" :alt="`Carousel ${carouselIndex} image`" id="carousel-image"
                  class="img-fluid my-2">

                <!-- Input file -->
                <input type="file" class="form-control-file" id="new-showcase-image" @change="fileChanged"
                  accept="image/png, image/jpeg, image/webp">
              </div>
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="updateCarousel">Save Changes</button>
          </div>
        </div>
      </div>
    </div>
  </template>

  <!-- Template for Carousel Item  -->
  <template id="carousel-item">
    <!-- Add a pencil symbol button if user is logged in-->
    <div v-if="isUserLoggedIn">
      <i class="carousel-edit-sym fa-solid fa-pen-to-square fa-2x" @click="updateModalCaller(key)"></i>
    </div>
    <img :src="imageURL" class="d-block w-100 tool-top" alt="This image cannot be displayed">
    <div class="carousel-caption d-block">
      <h2 class="fs-1">{{ title }}</h2>
      <p>{{ caption }}</p>
    </div>
  </template>

  <!-- Template for announcement -->
  <template id="announcement">
    <div v-effect="updateCollId()"></div>
    <h2 class="accordion-header" :id="flushId">
      <button class="accordion-button collapsed ann-accord-header" type="button" data-bs-toggle="collapse"
        :data-bs-target="`#${collId}`" aria-expanded="false" :aria-controls="collId">
        {{title}}
      </button>
    </h2>
    <div :id="collId" class="accordion-collapse collapse" :aria-labelledby="flushId"
      data-bs-parent="#announcementAccordion">
      <div class="accordion-body">
        {{description}}
      </div>
    </div>
  </template>

  <!-- Template for showcase -->
  <template id="showcase-item">
    <div class="card mb-4 border-0 shadow position-relative">
      <img :src="imageURL" class="card-img-top img-fluid" alt="Image unavailable">
      <div class="card-body bg-dark bg-gradient">
        <!-- Add a pencil symbol button -->
        <i v-if="isUserLoggedIn" class=" showcase-edit-sym fa-solid fa-xmark fa-2x" @click="removeShowcaseItem()"></i>
        <h5 class="card-title text-white">{{title}}</h5>
        <p class="card-text text-white-50">{{content}}</p>
        <a v-if="!deleteButton" :href="url" target="_blank" class="btn btn-secondary bg-gradient">Read more...</a>
        <!-- Secret button to confirm deletion -->
        <div v-if="deleteButton">
          <button type="button" class="btn btn-danger bg-gradient" @click="confirmDelete">Delete</button>
          <button type="button" class="btn btn-secondary bg-gradient" @click="cancelDelete">Cancel</button>
        </div>

      </div>
    </div>
  </template>

  <!-- Template For Footer Icon -->
  <template id="footer-icon">
    <div class="p-2 text-center grid-item">
      <a :href="link" target="_blank"><i :class="imgSrc"></i></a>
    </div>
    <div class="p-2 text-center">
      {{name}}
    </div>
  </template>

  <!-- Template for Sign in Section -->
  <template id="sign-in">
    <div class="sign-in-container container">
      <!-- A button to expand sign in form -->
      <button v-if="!userPresent" class="btn btn-outline-info btn-block" @click="expandSignInForm">Sign In &nbsp;<i
          :class="arrow"></i>
      </button>

      <!-- A message that shows which user is present -->
      <div v-if="userPresent" class="text-center">
        <h4 class="comfortaa footer-content opacity-50">Welcome, {{admin.name}}</h3>
          <button class="btn btn-outline-danger btn-block" @click="signOutUser">Sign Out</button>
      </div>

      <!-- The expandable form -->
      <div v-if="showForm && !userPresent" class="sign-in-form" id="sign-in-form">

        <!-- The form with properly padded fields and buttons -->
        <form @submit.prevent="SignIn">
          <div class="form-group py-3">

            <!-- Username input -->
            <label for="username" class="footer-content">Username</label>
            <input type="text" class="form-control my-2" id="username" v-model="username" placeholder="Enter username">

            <!-- Add password with quick viewer -->
            <label for="password" class="footer-content">Password</label>
            <input type="password" class="form-control my-2" id="password" v-model="password"
              placeholder="Enter password">

            <!-- Forgot Password -->
            <!-- Call forgotPassword link -->
            <a href="#" class="d-block my-3 frgt-pass" @click.prevent="forgotPassword">Forgot
              Password?</a>
            <!-- Confirm that email was sent -->
            <div v-if="forgotPasswordEmailSent" class="alert alert-danger" role="alert">
              <p class="m-0">An email has been sent to {{username}}</p>
            </div>

            <!-- The submit button -->
            <button type="submit" class="btn btn-primary btn-block my-2 border-0 shadow" @click="sendLoginDetails">Sign
              In</button>

          </div>
        </form>

        <!-- The error message -->
        <div v-if="error" class="alert alert-danger" role="alert">
          {{error}}
        </div>

      </div>
    </div>  
  </template>

  <!-- Start of the page -->
  <div v-scope="Navbar()" @vue:mounted="mounted">
    <!-- Render Main page -->
    <section>
      <!-- Hero Of the Page -->
      <div id="heroCarousel" class="carousel slide" data-bs-ride="carousel" v-scope="Carousel()"
        @vue:mounted="getCarousels">

        <!-- Carousel Panels -->
        <div class="carousel-inner">
          <div class="carousel-item" v-for="(car,index) in carousels" :class="{ active: index==0 }">
            <div v-scope="CarouselItem(car,index)" @vue:mounted="mounted"></div>
          </div>

          <!-- Mount Modal if modalCaller is not -1 -->
          <div v-if="modalCaller != -1" v-scope="Modal(modalCaller)" @vue:mounted="mounted">
          </div>
        </div>

        <!-- Carousel Buttons -->
        <button class=" carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

      </div>

      <!-- Rest of the Content, in a Grid flow -->
      <div class="container pt-4 px-4">
        <!-- Grid Layout for the rest of the page -->
        <div class="row gx-5">

          <!-- Left Column -->
          <div class="col-12 col-md-7">

            <!-- Announcements -->
            <div v-scope="Announcements()" class="card ann-container text-dark mb-5"
              @vue:mounted="getAnns(), mounted()">

              <h3 class=" footer-header m-3">📢 Announcements</h3>
              <div class="accordion accordion-flush" id="announcementAccordion" v-for="(ann,index) in announcements">
                <div class="accordion-item" v-scope="Announcement(ann, keys[index])" @vue:mounted="mounted"></div>
              </div>

              <!-- Add section to add an announcement to the database if admin present -->
              <div v-if="isUserLoggedIn && !showAnnAdder" class="d-flex justify-content-around my-3">

                <!-- Add a Save Changes button based on confirmPush -->
                <div v-if="confirmPush" class="d-inline">
                  <button class="btn btn-success" @click="sendAnnToDatabase">Save Changes</button>
                </div>

                <!-- Add a plus symbol button -->
                <i class=" add-ann-plus fa-solid fa-circle-plus fa-2x" @click="toggleAnnForm"></i>

                <!-- Add a Save Changes button based on confirmPush -->
                <div v-if="confirmPush" class="d-inline">
                  <button class="btn btn-danger" @click="cancelAnnChanges">Cancel Changes</button>
                </div>
              </div>

              <!-- A div to show a form to add a new announcement -->
              <div v-if="showAnnAdder" class="p-3">
                <hr>
                <!-- The form to add a new announcement -->
                <form @submit.prevent="previewNewAnnouncement">

                  <div class="form-group">
                    <label for="new-ann-title" class="my-2">Title</label>
                    <input type="text" class="form-control" id="new-ann-title" v-model="newAnnHeader"
                      placeholder="Enter title">
                    <label for="new-ann-content" class="my-2">Content</label>
                    <textarea class="form-control" id="new-ann-content" v-model="newAnnContent"
                      placeholder="Enter content" rows="3"></textarea>

                  </div>
                  <button type="submit" class="btn btn-primary btn-block my-3 border-0 shadow">Preview
                    Announcement</button>

                  <!-- Cancel button -->
                  <button class="btn btn-danger btn-block my-3 border-0 shadow" @click="toggleAnnForm">Cancel</button>

                </form>
              </div>

            </div>
            <!-- Announcements End -->

            <!-- Showcases :  -->
            <div v-scope="Showcases()" @vue:mounted="getShowCaseItems(), mounted()">
              <!-- For showcase items in showcase array, mount the ShowcaseItem component -->
              <div v-for="(showcase,index) in showcases">
                <div v-scope="ShowcaseItem(showcase, keys[index])" @vue:mounted="mounted"></div>
              </div>

              <!-- Add section to add a showcase to the database if admin present -->
              <div v-if="isUserLoggedIn && !showShowcaseAdder" class="d-flex justify-content-around my-3">

                <!-- Add a Save Changes button based on confirmPush -->
                <div v-if="confirmPush" class="d-inline">
                  <button class="btn btn-success" @click="sendShowcaseToDatabase">Save Changes</button>
                </div>

                <!-- Add a plus symbol button -->
                <i class="add-showcase-plus fa-solid fa-circle-plus fa-2x" @click="toggleShowcaseForm"></i>

                <!-- Add a Save Changes button based on confirmPush -->
                <div v-if="confirmPush" class="d-inline">
                  <button class="btn btn-danger" @click="cancelShowcaseChanges">Cancel Changes</button>
                </div>

              </div>

              <!-- A div to show a form to add a new showcase -->
              <div v-if="showShowcaseAdder" class="p-3 mb-3 bg-dark bg-gradient text-white rounded-2">

                <h5>Add a new Showcase Item</h5>
                <hr>

                <!-- The form to add a new showcase -->
                <form @submit.prevent="previewNewShowcase">
                  <div class="form-group">

                    <!-- For New Showcase Title -->
                    <label for="new-showcase-title" class="my-2">Title</label>
                    <input type="text" class="form-control" id="new-showcase-title" v-model="newShowcaseTitle"
                      placeholder="Enter title">

                    <!-- For New Showcase Content -->
                    <label for="new-showcase-content" class="my-2">Content</label>
                    <textarea class="form-control" id="new-showcase-content" v-model="newShowcaseContent"
                      placeholder="Enter content" rows="3"></textarea>

                    <!-- For New Showcase Image -->
                    <label for="new-showcase-image" class="my-2 d-block">Image</label>
                    <input type="file" class="form-control-file" id="new-showcase-image" @change="fileChanged"
                      accept="image/png, image/jpeg, image/webp">

                    <!-- For New Showcase URL -->
                    <label for="new-showcase-url" class="my-2 d-block">URL</label>
                    <input type="text" class="form-control" id="new-showcase-url" v-model="newShowcaseURL"
                      placeholder="Enter url">

                    <button type="submit" class="btn btn-primary btn-block my-3 border-0 shadow">Preview
                      New Showcase</button>

                    <!-- Cancel button -->
                    <button class="btn btn-danger btn-block my-3 border-0 shadow"
                      @click="toggleShowcaseForm">Cancel</button>

                  </div>
                </form>
              </div>
            </div>
            <!-- Showcase End -->

          </div>

          <!-- Right Column -->
          <div class="col-12 col-md-5 text-center">

            <!-- Discord Widget -->
            <iframe class="mb-4" src="https://discord.com/widget?id=804986812425699339&theme=dark" width="320"
              height="500" allowtransparency="true" frameborder="0"
              sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>

          </div>

        </div>
      </div>

    </section>
  </div>

  <!--Footer -->
  <footer id="id-footer" class="position-relative p-5 mt-3">
    <div class="footer-content row">
      <div class="mb-2 col-lg-6">
        <h3 class="footer-header">About Terna Engineering College</h3>
        <p>Terna Engineering College is part of the
          Terna Public Charitable Trust's Group of Institutions,
          whose mission is to provide an environment of academic
          excellence and to adopt appropriate teaching - learning
          processes to produce competent and skilled engineers
          ready to meet global challenges.
        </p>
        <br>
        <p class="abt-desc">
          Their vision has always been to deliver value added
          quality education to the aspiring students, meeting
          stringent requirements of the changing technology,
          industry, business and society as a whole.
        </p>
      </div>
      <div class="mb-2 col-lg-6">
        <h3 class="footer-header">Follow College Clubs at:</h3>
        <!-- Another Grid -->
        <div class="row g-3">
          <div :class="className"
            v-scope="Footer({img:'fa-brands fa-discord fa-3x',name:'Evozone', link:'https://discord.gg//ZSGjsDYy5n'})">
          </div>
          <div :class="className"
            v-scope="Footer({img:'fa-brands fa-github fa-3x',name:'Evozone Github', link:'https://github.com/Evozone'})">
          </div>
          <div :class="className"
            v-scope="Footer({img:'fa-brands fa-instagram fa-3x',name:'Resorang', link:'https://www.instagram.com/resorang_tec/'})">
          </div>
          <div :class="className"
            v-scope="Footer({img:'fa-brands fa-instagram fa-3x',name:'E-cell Terna', link:'https://www.instagram.com/e_cell_terna/'})">
          </div>
          <div :class="className"
            v-scope="Footer({img:'fa-brands fa-instagram fa-3x',name:'Terna Engineering College', link:'https://www.instagram.com/ternaengg/'})">
          </div>
          <div :class="className"
            v-scope="Footer({img:'fa-solid fa-globe fa-3x',name:'TEC Website', link:'https://ternaengg.ac.in/'})">
          </div>
          <div :class="className"
            v-scope="Footer({img:'fa-brands fa-instagram fa-3x',name:'IEEE Terna', link:'https://www.instagram.com/ieeeterna/'})">
          </div>
          <div :class="className"
            v-scope="Footer({img:'fa-brands fa-instagram fa-3x',name:'CSI Terna', link:'https://www.instagram.com/csi_terna/'})">
          </div>
        </div>
      </div>
    </div>
    <hr class="footer-bg">

    <!-- Sign in section -->
    <div v-scope="SignIn()" class="py-3" @vue:mounted="mounted"></div>

    <h6 class="footer-trademark position-absolute bottom-0 start-50 translate-middle-x mt-4">An Evozone Project, 2022
    </h6>

  </footer>
  <!--Footer -->

  <!-- This script module contains the code for Firebase and Petite vue -->
  <script type="module" src="scripts/index.js"></script>
  <script src="scripts/utils.js" defer></script>
</body>

</html>