/* Fonts */
/*
*    font-family: 'Comfortaa', cursive; 500 700
*    font-family: 'Happy Monkey', cursive;
*    font-family: 'Montserrat', sans-serif; 400 700 800
*    font-family: 'Work Sans', sans-serif; 300 - 800
*/

/* Body */

body {
  margin: 0;
  font: 400 1rem 'Work Sans', sans-serif;
}

/* Large Triangle Background */

.lgtr {
  background-image: url(../images/large-triangles.svg);
}

/* Navigation */
/* TODO(Bhargav) : Revisit Centering */

.navbar {
  background: #053742;
  border-radius: 0 0 10rem 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 6rem;
  width: 100%;

  /* Position */
  position: absolute;
  left: 0;
  top: 0;
}

.brand {
  border-radius: 0 0 1.33rem 0;
  width: 55%;
  height: 3.7rem;

  /* Position */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.brand-img {
  background: #e8f0f2;
  border-radius: 4rem;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.25);
  height: 8rem;
  width: 8rem;

  /* Position */
  position: absolute;
  left: 2.5rem;
  top: -1.15rem;
}

.brand-logo{
  width:100%;
}

.brand-name {
  color: #053742;
  font : 700 2.3rem 'Comfortaa', cursive;
  margin: 0;

  position: absolute;
  left: 17rem;
  top: 50%;
  transform: translateY(-50%);
}

/* Navigation links */
.nav-links {
  display: table;
  list-style: none;
  margin: 0;
  text-align: center;
  /* Position */
  position: absolute;
  right: 5.2rem;
  top: 2.2rem;
}

.nav-links li {
  display: table-cell;
  padding: 0 2rem 0.3rem 2rem ;
  position: relative;
}

.nav-link {
  color: #e8f0f2;
  font: 1.5rem 'Happy Monkey', cursive;
  transition: 0.3s ease 0s, left 0.3s ease 0s;
  text-decoration: none;
}

.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  background: #fff;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:hover{
  color: #a2dbfa;
}

.nav-link:hover:after {
  background: #a2dbfa;
  width: 70%;
  left: 15%;
}

/* Hero Carousel */

.hero {
  width: calc(var(--vw, 1vw) * 100);
}

.hero-img {
  width: calc(var(--vw, 1vw) * 100);
  height: 100%;
  max-width: 100%;
}

/* Content */

.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 3.5rem;
}

.left-side {
  flex-basis: auto;
  flex-flow: column wrap;
  justify-content: center;
}

.festival {
  position: relative;
  width: 45rem;
  height: 26rem;
  border-radius: 1rem;
  flex-basis: auto;
  color: #fff;
}

.festival > img {
  border-radius: 1rem;
  height: auto;
  width: 100%;
  object-fit: contain;
}

.fest-txt {
  margin: 0;
  display: inline-block;
  position: absolute;
  left: 16.5rem;
  top: 13rem;
}

.announcements {
  flex-basis: auto;
}

.right-side {
  flex-basis: auto;
  flex-flow: column wrap;
  justify-content: center;
}

.tweets {
  width: 100rem;
  margin: 3.5rem 0;
}

.discord > iframe {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.72);
}

/* Footer */

.footer {
  background: #053742;
}

/* Footer above the line */
.foot-abt {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.abt-cntnt {
  color: #cee7ed;
  margin: 2rem;
  flex-basis: 40%;
}

/*
*  This construct of inline block + CSS in abt-desc is for non overflow of
*  description compared to the title.
*/
.abt-clg {
  display: inline-block;
}

.abt-titles {
  font: 700 1.5rem 'Montserrat', sans-serif;
  display: block;
}

.abt-desc {
  width:0;
  min-width:100%;
  line-height: 1.3rem;
}

/* The Social Handles :  */

.abt-handles {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.social-panel{
  padding: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.sp-images {
  width: 4rem;
  display: inline-block;
}

.sp-links {
  display: inline;
  padding: 1.5rem;
}

.sp-links > a {
  color: #e8f0f2;
  text-decoration: none;
}

.sp-links > a:hover {
  color: #a2dbfa;
}
