/* Fonts */
/*
*    font-family: 'Comfortaa', cursive; 500 700
*    font-family: 'Work Sans', sans-serif; 300 - 800
*/

/* Body */

body {
  margin: 0;
  font: 400 1rem 'Work Sans', sans-serif;
}

body::-webkit-scrollbar {
  width: 11px;
}

body::-webkit-scrollbar-track {
  background: #202225;
}

body::-webkit-scrollbar-thumb {
  background: #a2dbfa;
  border-radius: 5px;
  border: solid 3px #202225;
}

body::-webkit-scrollbar-thumb:hover {
  background: #3597cc;
}

/* Large Triangle Background */
.lgtr-dark {
  background-image: url(../images/large-triangles.svg);
}

.lgtr {
  background-image: url(../images/large-triangles-light.svg);
}

.lgtr-black {
  background-image: url(../images/large-triangles-black.svg);
}

/* Reusable stuff */

.visible {
  visibility: visible;
}

.comfortaa {
  font-family: 'Comfortaa', cursive;
}

.clickable-div {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;

  /* fixes overlap error in IE7/8,
     make sure you have an empty gif */
  background-image: url('empty.gif');
}

/* Navigation */

nav {
  transition: transform .5s ease-in-out;
}

.nav-hidden {
  transform: translateY(-100%);
}

.brand-img {
  background: #e8f0f2;
  border-radius: 3rem;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.25);
  height: width;
  width: min(15vw,4.5rem);
}

.brand-logo {
  width:100%;
}

.brand-name {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
}

.navbar-toggler {
  border: none;
}

.brand-img:active {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0 5px rgba(255,255,255,0.25);
}

/* Hero Carousel */

#heroCarousel .carousel-item:before {
  content: "";
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
  display: block;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
}


/* Footer */

.footer-header {
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer-content {
  color: #cee7ed;
}

.grid-item > a {
  color: #cee7ed;
}

.grid-item > a:hover {
  color: gray;
}

.grid-item > a > i:hover {
  transform: scale(1.1);
}

/* Tools */

.tool-top {
  margin-top: 80px;
}

@media (max-width: 768px) {
  .tool-top {
    margin-top: 60px;
  }
}

.tool-panel {
  background-color: #39a2db;
  transition: 0.3s ease 0s, left 0.3s ease 0s;
}

.tool-panel:hover {
  background-color: #a2dbfa;
}

.tool-img {
  height: 10rem;
  margin: 1rem;
}

.tool-title {
  font: 400 2rem 'Montserrat', sans-serif;
  margin-top: 32px;
}

.tool-desc {
  padding: 0.5rem;
}

/* Timeline */

.trunk-container {
  height: inherit;
}

.timeline-trunk {
  width: 16px;
  background-color: #45a7dc;
  height: inherit;
}

/* Timeline Buttons */

.date-btn {
  border: 8px solid #bfdba1;
}

.date-btn:active {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0 5px rgba(255,255,255,0.25);
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.x-mark {
  top: 12px;
  right: 12px;
  cursor: pointer;
  color: rgba(85, 85, 85, 0.863);
}

.x-mark:hover {
  color: rgba(0, 0, 0, 0.863);
}

/* Month Colors */
.month-1 {
  background-color: #eed672;
}

.month-2 {
  background-color: #f1b89d;
}

.month-3 {
  background-color: #bfdba1;
}

.month-4 {
  background-color: #ca7755;
}

.month-5 {
  background-color: #fcf0d8;
}

.month-6 {
  background-color: #5ecdbd;
}

.month-7 {
  background-color: #d16b80;
}

.month-8 {
  background-color: #92716c;
}

.month-9 {
  background-color: #893942;
}

.month-10 {
  background-color: #7f5084;
}

.month-11 {
  background-color: #cdb380;
}

.month-12 {
  background-color: #9e453f;
}