/* Fonts */
/*
*    font-family: 'Comfortaa', cursive; 500 700
*    font-family: 'Work Sans', sans-serif; 300 - 800
*/

/* Body */

/* If theme is dark, color variables */
html[data-theme="dark"] {
  --cards: #044745;
  --card-shadow: rgba(0, 0, 0, 0.2);
  --card-text: #cee7ed;
  --card-hover: #043D3A;
  --card-hover-text: #cee7ed;
  --footer-text: #cee7ed;
  --footer-icon-hover: gray;
}

/* If the theme is light, color variables */
html[data-theme="light"] {
  --cards: #83E3FA;
  --card-shadow: rgba(0, 0, 0, 0.25);
  --card-text: #000;
  --card-hover: #4BD1FA;
  --card-hover-text: #000;
  --footer-text: dark-gray;
  --footer-icon-hover: black;
}

body {
  margin: 0;
  font: 400 1rem 'Work Sans', sans-serif;
}

body::-webkit-scrollbar {
  width: 11px;
}

body::-webkit-scrollbar-track {
  background: #202225;
}

body::-webkit-scrollbar-thumb {
  background: #a2dbfa;
  border-radius: 5px;
  border: solid 3px #202225;
}

body::-webkit-scrollbar-thumb:hover {
  background: #3597cc;
}

/* Large Triangle Background */
.lgtr-dark {
  background-image: url(../images/large-triangles.svg);
  background-attachment: fixed;
}

.lgtr {
  background-image: url(../images/large-triangles-light.svg);
  background-attachment: fixed;
}

.lgtr-black {
  background-image: url(../images/large-triangles-black.svg);
}

.lgtr-white {
  background-image: url(../images/large-triangles-white.svg);
}

/* Reusable stuff */

.visible {
  visibility: visible;
}

.comfortaa {
  font-family: 'Comfortaa', cursive;
}

.clickable-div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  z-index: 1;

  /* fixes overlap error in IE7/8,
     make sure you have an empty gif */
  background-image: url('empty.gif');
}

/* Navigation */

nav {
  transition: transform .5s ease-in-out;
}

.nav-hidden {
  transform: translateY(-100%);
}

.brand-img {
  background: #e8f0f2;
  border-radius: 3rem;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.25);
  height: width;
  width: min(15vw, 4.5rem);
}

.brand-logo {
  width: 100%;
}

.brand-name {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
}

.navbar-toggler {
  border: none;
}

.brand-img:active {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.25);
}

/* Toggler icon for Dark/Light mode */

.toggle-icon {
  margin: 1.5rem;
  cursor: pointer;
  transition: transform .5s ease-in-out;
}

/* Remove side margins for small screens */
@media screen and (max-width: 768px) {
  .toggle-icon {
    margin: 1rem 0;
  }
}

/* Hero Carousel */

/* Truncate carousel-item to viewport on large screens */
@media screen and (min-width: 992px) {
  .carousel-item {
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
  }
}


#heroCarousel .carousel-item:before {
  content: "";
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));
  display: block;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
}

.carousel-edit-sym {
  position: absolute;
  top: 90px;
  right: 10px;
  padding: 1rem;
  cursor: pointer;
  color: lightgray;
  z-index: 2;
}

.carousel-edit-sym:hover {
  color: #fff;
}

.ann-container,
.ann-accord-header {
  background-color: #e8f0f2;
}

.add-ann-plus {
  cursor: pointer;
  color: lightsteelblue;
}

.add-ann-plus:hover {
  color: lightblue;
}

/* Showcase */
.showcase-edit-sym {
  cursor: pointer;
  color: lightgray;
  z-index: 2;
  position: absolute;
  right: 10px;
  top: 10px;
}

.showcase-edit-sym:hover {
  color: #fff;
}

/* Footer */

.footer-header {
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer-content {
  color: var(--footer-text);
}

.grid-item>a {
  color: var(--footer-text);
}

.grid-item>a:hover {
  color: var(--footer-icon-hover);
}

.grid-item>a>i:hover {
  transform: scale(1.1);
}

.footer-trademark,
.footer-bg {
  color: var(--footer-text);
}

.frgt-pass {
  font: 300 .8rem 'Verdana', sans-serif;
  color: var(--footer-text);
  text-decoration: none;
}

.frgt-pass:hover {
  color: var(--footer-icon-hover);
  text-decoration: underline;
}

/* Tools */

.tool-top {
  margin-top: 85px;
}

@media (max-width: 768px) {
  .tool-top {
    margin-top: 60px;
  }
}

.tool-panel {
  color: var(--card-text);
  background-color: var(--cards);
  box-shadow: 0 4px 5px 3px var(--card-shadow);
  transition: 0.3s ease 0s, left 0.3s ease 0s;

}

.tool-panel:hover {
  color: var(--card-hover-text);
  background-color: var(--card-hover);
}

.tool-img {
  height: 10rem;
  margin: 1rem;
}

.tool-title {
  font: 400 2rem 'Work Sans', sans-serif;
  margin-top: 32px;
}

.tool-desc {
  padding: 0.5rem;
}

/* Timeline */

.trunk-container {
  height: inherit;
}

.timeline-trunk {
  width: 16px;
  background-color: #45a7dc;
  height: inherit;
}

/* Style the timeline checkboxes */
.timeline-checkboxes {
  width: 1.5rem;
  height: 1.5rem;
  transition: 0.3s ease 0s;
}

/* Timeline Buttons */

.date-btn {
  border: 8px solid;
  z-index: 1;
  box-shadow: 0 0px 0px 3px rgba(0, 0, 0, 1);
}

.date-btn:active {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.25);
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.datepicker {
  z-index: 4;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.25);
}

.x-mark {
  top: 12px;
  right: 12px;
  cursor: pointer;
  color: rgba(85, 85, 85, 0.863);
}

.x-mark:hover {
  color: rgba(0, 0, 0, 0.863);
}

/* Month Colors */
.month-1 {
  background-color: #eed672;
}

.month-2 {
  background-color: #f1b89d;
}

.month-3 {
  background-color: #bfdba1;
}

.month-4 {
  background-color: #ca7755;
}

.month-5 {
  background-color: #fcf0d8;
}

.month-6 {
  background-color: #5ecdbd;
}

.month-7 {
  background-color: #d16b80;
}

.month-8 {
  background-color: #92716c;
}

.month-9 {
  background-color: #893942;
}

.month-10 {
  background-color: #7f5084;
}

.month-11 {
  background-color: #cdb380;
}

.month-12 {
  background-color: #9e453f;
}

/* Borders of date buttons for each month */

.date-btn-1 {
  border-color: #eed672;
}

.date-btn-2 {
  border-color: #f1b89d;
}

.date-btn-3 {
  border-color: #bfdba1;
}

.date-btn-4 {
  border-color: #ca7755;
}

.date-btn-5 {
  border-color: #fcf0d8;
}

.date-btn-6 {
  border-color: #5ecdbd;
}

.date-btn-7 {
  border-color: #d16b80;
}

.date-btn-8 {
  border-color: #92716c;
}

.date-btn-9 {
  border-color: #893942;
}

.date-btn-10 {
  border-color: #7f5084;
}

.date-btn-11 {
  border-color: #cdb380;
}

.date-btn-12 {
  border-color: #9e453f;
}