@media only screen and (max-width: 1237px) {
  body {
    font-size: 2rem;
  }

  /* Navbar */
  .navbar {
    visibility: hidden;
    /* Position */
    position: fixed;
  }

  .visible {
    visibility: visible;
  }

  .brand {
    border-radius: 0 0 3.8rem 0;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.25);
    margin-bottom: 0;
    width: 60rem;
    height: 5rem;
  }

  .brand-name {
    margin: 1.3rem 0 1.3rem 20rem;
  }

  .brand-img {
    height: 8rem;
    width: 8rem;
    border-radius: 4rem;
    visibility: visible;
  }

  .brand-img {
    left: .5rem;
    top: .5rem;
  }

  .nav-links {
    margin: .5rem .5rem .5rem 0;
  }

  .nav-link-container {
    background-color: #053742;
    border-radius: 0 0 1rem 1rem;
    width: 40rem;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.25);
    margin-left: 10rem;
  }

  /* Left side */
  .left-side {
    flex-basis: auto;
    flex-flow: column wrap;
    justify-content: space-around;
    padding: 0;
  }

  /* Festival Panel */
  .festival-container {
    width: 50rem;
    height: 15rem;
    overflow: hidden;
  }

  .fest-content {
    left: 14rem;
    top: 3rem;
    text-align: center;
  }

  /* Announcements Panel */
  .ann-container {
    width: 50rem;
    height: 26rem;
    font-size: 0.7rem;
  }

  .ann-header {
    font-size: 1rem;
  }

  /* Quotes Panel */
  .quote-container {
    width: 46rem;
    max-width: 46rem;
    margin-bottom: 3.5rem;
  }

  .quote-text {
    font: 500 0.75rem 'Work Sans', sans-serif;
  }

  .long-quote {
    font: 500 0.5rem 'Work Sans', sans-serif;
  }

  .quote-author {
    margin-top: 2rem;
    font: 500 0.45rem 'Comfortaa', cursive;
    color: darkgrey;
    text-align: left;
  }

  /* Discord Panel */
  .resizer{
    width: 50rem;
  }

  .abt-cntnt {
    color: #cee7ed;
    margin: 2rem;
    flex-basis: 50rem;
    font-size: 1.7rem;
  }

  /* Tool Panel */
  .tool-panel {
    font: 1rem;
    background-color: #39a2db;
    width: 25rem;
    margin: 1rem;
    padding: 3rem;
    flex-basis: auto;
    text-align: center;
    transition: 0.3s ease 0s, left 0.3s ease 0s;
  }
}

@media only screen and (max-width: 1024px) {
  /* Tool Panel */
  .tool-panel {
    background-color: #39a2db;
    width: 90rem;
    margin: 1.5rem;
    padding: 3rem;
    flex-basis: auto;
    text-align: center;
    transition: 0.3s ease 0s, left 0.3s ease 0s;
  }
}
